# Auto detect text files and perform LF normalization
* text=auto

# C# source files
*.cs text diff=csharp

# Visual Studio files
*.sln text eol=crlf
*.csproj text eol=crlf
*.vbproj text eol=crlf
*.fsproj text eol=crlf
*.dbproj text eol=crlf

# Images should be treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# JSON files
*.json text

# XML files
*.xml text
*.xaml text
*.config text 